@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;583;600;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,500;1,800&display=swap');

*{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/*---- ESTILO NAVBAR Y ELEMENTOS ----*/
.navbar-brand img{
  width: 180px;
  margin-right: 33rem;
}

.nav-link{
  color: #ffff;
}

.nav-link:hover{
  color: #FFD455;
}

.social img{
  padding: 7px;
  width: 42px;
}

