@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;583;600;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,500;1,800&display=swap');

*{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/*---- ESTILO NAVBAR Y ELEMENTOS ----*/

.navbar-brand img{
  width: 8rem;
}

.navbar-nav{
  gap: 0.3rem;
}
.nav-link{
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffff;
}

.nav-link:hover{
  color: #FFD455;
}

.social img{
  padding: 0.4rem;
  width: 2.5rem;
}


/*---- COVER ----*/

.inicio{
  background-image: url("https://r4.wallpaperflare.com/wallpaper/239/42/323/obelisk-street-cityscape-traffic-wallpaper-f980083d217a7dfb4617c80fb07166fd.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 5rem;
}

.texto-inicio{
  max-width: 50rem;
}

.inicio h1{
  text-align: start;
  font-size: 3rem;
  margin-left: 5rem;
  color: #ffff;
}

.inicio-marca{
  color: #ffd455;
  font-size: 3.6rem;
  font-weight: 600;
  font-family: "League Spartan";
}

.texto-inicio a{
  width: 15rem;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem;
  text-decoration: none;
  border: 2px solid #FFD455;
  color: #FFD455;
  margin-right: 24.5rem;
  transition: all 800ms ease-in-out;
}
.texto-inicio a:hover{
  background-color: #FFD455;
  color: #000000;
  transition: all 800ms ease-in-out;
}

/*---- CARACTERISTICAS ----*/

.caracteristicas{
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-bottom: 5rem;
  gap: 5rem;
}

.box{
  max-width: 22rem;
}

.box img{
  width: 5rem;
  margin-bottom: 1.5rem;
}

.box h2{
  font-family: "League Spartan";
  font-size: 1.5rem;
  font-weight: 600;
  color: #e36f31;
}

.box p{
  color: #323232;
  font-size: 1.1rem;
  font-weight: 500;
}

/* ----SERVICIOS---- */

.servicios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 5rem;
}
.servicios-titulo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5rem 0 5rem 0;
  padding-left: 1.2rem;
  max-width: 60rem;
  border-left: 6px solid #FFD455;
}

.servicios-titulo h2{
  text-align: start;
  font-size: 2rem;
  font-weight: 600;
  color: #323232;
  margin-bottom: 1.2rem;
}

.servicios-titulo p{
  text-align: start;
  font-size: 1.2rem;
  font-weight: 500;
  color: #323232;
  
}

.contenedor-tarjetas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 0 2rem 0 2rem;
}

.card{
  max-width: 25rem;
  transition: all 800ms ease-in-out;
}
.card img{
  height: 13rem;
}
.card-body{
  padding: 2.8rem;
  letter-spacing: 1px;
}
.card-title{
  font-family: "League Spartan";
  font-size: 1.8rem;
  font-weight: 500;
}

.card-text{
  font-size: 0.9rem;
  font-weight: 500;
}

.card:hover {
  transform: scale(1.1);
  transition: all 800ms ease-in-out;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.20);
}

.servicios-btn{
  margin-top: 4rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem;
  text-decoration: none;
  color: #f8f8f8;
  background-color: #323232;
  border: 3px solid #323232;
  transition: all 800ms ease-in-out;
}
.servicios-btn:hover{
  color: #323232;
  background-color: #ffffff;
  
  transition: all 800ms ease-in-out;
}

/* ----PORTFOLIO---- */

.trabajos{
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 8rem 0 8rem;
  margin-bottom: 5rem;
}

.portfolio-titulo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5rem 0 5rem 0;
  padding-left: 1.2rem;
  max-width: 60rem;
  border-left: 6px solid #FFD455;
}

.portfolio-titulo h2{
  text-align: start;
  font-size: 2rem;
  font-weight: 600;
  color: #323232;
  margin-bottom: 1.2rem;
}

.portfolio-titulo p{
  text-align: start;
  font-size: 1.2rem;
  font-weight: 500;
  color: #323232;
}


.enlaces-portfolio{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 3rem;
}

.box-portafolio {
  position: relative;
  max-width: 18rem;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.30);
  cursor: pointer;
}

.box-portafolio img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.capa{
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgb(255, 162, 63, 0.9);
  transition: all 500ms ease-in;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.capa a{
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 800;
  border: 2px solid #ffffff;
  padding: 0.5rem;
  border-radius: 0;
  color: #ffffff;
  transition: all 800ms ease-in-out;
}

.capa a:hover{
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: rgb(255, 162, 63, 0.9);
  transform: scale(1.1);
  transition: all 800ms ease-in-out;
  font-weight: 900;
}

.box-portafolio:hover > .capa{
  opacity: 1;
  visibility: visible;
}

/* ----CONTACTO---- */

.contacto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem 3rem 0 3rem;  
  gap: 3rem;
  margin: 5rem 0 5rem 0;
}
.contacto aside{
  border-left: 6px solid #FFD455;
  padding-left: 1.2rem;
}

.contacto aside h3{
  text-align: start;
  font-size: 2.2rem;
  font-weight: 800;
}

.contacto p{
  text-align: start;
  font-size: 1.7rem;
  font-weight: 500;
}
.contacto form{
  margin: 5rem 0 5rem 0;
  background-color: #FFD455;
  padding: 2.5rem;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.30);
}

.contacto .inputs{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}

.inputs div, .msj-box{
  text-align: start;
}
.contacto label{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.contacto input{
  background-color: #FFD455;
  width: 15rem;
  height: 2.5rem;
  border: 0;
  border-bottom: 3px solid #323232;
  text-align: start;
}

.contacto .msj-box textarea{
  background-color: #FFD455;
  width: 32rem;
  height: 10rem;
  border: 0;
  border-bottom: 3px solid #323232;
  text-align: start;
}

.msj-box input {
  width: 8rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: #323232;
  color: #f8f8f8;
  border: 4px solid #323232;
  transition: all 800ms ease-in-out;
}

.msj-box input:hover{
  background-color: #f8f8f8;
  color: #323232;
  transition: all 800ms ease-in-out;
  
}

/* ----FOOTER---- */
.footer {
  height: auto;
  background-color: #212529;
  color: #323232;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: center;
  gap: 1rem;
  padding: 5rem 1rem 0 1rem;
}

.formas-contacto img{
  width: 2rem;
  margin: 2rem 0.8rem 0.8rem 0.8rem;
}
.footer .marca img{
  width: 220px;
}

.copy {
  grid-template-columns: 1fr;
  font-size: 0.8rem;
  color: #f8f8f8;
  align-items: center;
  justify-items: center;
  padding-top: 3rem ;
}
.copy-marca{
  font-family: "League Spartan";
  font-size: 1rem;
}



/*-----PAGINA SERVICIOS------*/


.pag-servicios section{
  margin-top: 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)) ,url("https://th.bing.com/th/id/R.a419fa73e5fabe4524ed12a108d1ff95?rik=cXEXAE1DoHR%2fpA&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pag-servicios h2{
  letter-spacing: 3px;
  font-size: 4rem;
  font-weight: 500;
  color: #f8f8f8;
  filter: none;
}
.tarjetas-servicios{
  margin-top: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetas-servicios .card{
  max-width: 60rem;
  height: auto;
  padding: 0.2rem;
  margin-bottom: 5rem;
  align-items: center;
  justify-items: center;
}

.tarjetas-servicios .card:hover{
  transform: none;
}
.tarjetas-servicios .card-title, .tarjetas-servicios .card-text, .tarjetas-servicios .card-body{
  text-align: left;
}

.tarjetas-servicios .card img{
  height: 100%;
}

.tarjetas-servicios .card-body{
  padding: 2rem;
}










/* ----DISPOSITIVOS IGUALES O MENORES A 1250PX*/

@media screen and (max-width: 1250px){

  .caracteristicas{
    height: auto;
    gap: 2rem;
    padding: 0 1rem 0 1rem;
    margin-top: 5rem;
  }
  .box{
    max-width: 30rem;
  }
  
  .box img{
    margin-bottom: 1.2rem;
  }
  
  .box h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #e36f31;
  }
  
  .box p{
    font-size: 1.1rem;
  }
  .servicios-titulo{
    margin-left: 1rem;
    max-width: 35rem;
  }
  .contenedor-tarjetas{
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
  }

  .card{
    max-width: auto;
  }
  .trabajos{
    height: auto;
  }
  .enlaces-portfolio{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem 2rem 1rem;
  }

  .contacto{
    flex-direction: column;
    margin-top: 10rem;
    gap: 1rem;
  }
  .contacto aside{
    max-width: 35rem;
  }
  .contacto form{
    margin-top: 5rem;
    padding: 3rem;
  }

  .formas-contacto img{
    width: 2rem;
    margin: 0.5rem;
  }
  
  .footer .marca img{
    width: 200px;
  }
  .copy {
    font-size: 0.7rem;
  }
  .copy-marca{
    font-size: 1rem;
  }
  .tarjetas-servicios .card-title, .tarjetas-servicios .card-text, .tarjetas-servicios .card-body{
    text-align: center;
  }
  .tarjetas-servicios .card-title{
   font-size: 1.5rem;
  }

  .tarjetas-servicios .card-text{
    font-size: 0.8rem;
  }
}

/* ----DISPOSITIVOS IGUALES O MENORES A 800px---- */

@media screen and (max-width: 800px) {
  .inicio{
    justify-content: center;
  }

  .texto-inicio{
    padding: 2rem;
    max-width: 32rem;
  }
  .inicio h1{
    text-align: center;
    font-size: 2.5rem;
    margin-left: 0;
    color: #ffff;
  }
  .inicio-marca{
    font-size: 3.5rem;
    font-weight: 600;
  }
  .texto-inicio{
    font-size: 3.5rem;
  }
  
  .texto-inicio a{
    margin-top: 0.5rem;
    margin-right: 0;
    font-size: 1rem;
  }

  .caracteristicas{
    flex-direction: column;
    height: auto;
    margin: 10rem 0 10rem 0;
  }

  .box p{
    font-size: 1.2rem;      
  }

  .servicios-titulo{
    max-width: 28rem ;
  }

  .servicios-titulo h2{ 
    font-size: 2.3rem;
  }
  
  .servicios-titulo p{
    font-size: 1.3rem;
  }

  .contenedor-tarjetas{
    gap: 3rem;
  }
  .enlaces-portfolio{
    grid-template-columns: 1fr;
  }
  .box-portafolio{
    width: 25rem;
  }
  .contacto{
    height: auto;
  }
  .contacto aside{
    max-width: 28rem;
  }
  .contacto form{
    margin: 1rem 0 2rem 0;
  }
  .contacto .inputs input{
    max-width: auto;
  }

  .msj-box, .msj-box textarea {
   max-width: auto;
  }
  .footer{
    margin-top: 10rem;
    height: 80vh;
    grid-template-columns: 1fr;
    padding: 0;
  }


  .pag-servicios h2{
    letter-spacing: 5px;
    font-size: 3rem;
    font-weight: 600;
    color: #f8f8f8;
    filter: none;
  }
  .tarjetas-servicios{
    margin-top: 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tarjetas-servicios .card{
    max-width: 90vw;
  }
  
}



/* ----DISPOSITIVOS IGUALES O MENORES A 600px---- */

@media screen and (max-width: 600px) {
  .inicio h2{
   font-size: 1.8rem;
   padding: 5rem 0 0 0;
  }

  .inicio-marca{
    font-size: 2.8rem
  }
  .texto-inicio{
    font-size: 2.8rem;
  }
  .texto-inicio a{
    width: 15rem;
    font-size: 1rem;
  }
  .caracteristicas{
    margin: 5rem 0 5rem 0;
    height: auto;
  }

  .servicios-titulo{
    width: auto;
  }
  
  .servicios-titulo h2{
    font-size: 1.9rem;
  }
  
  .servicios-titulo p{
    font-size: 1.2rem;
  }

  .contenedor-tarjetas{
    width: auto;
    gap: 3rem;
    align-items: center;
    padding: 0;
  }

  .card{
    max-width: 20rem;
  }
  .card img{
    height: auto;
  }
  .card-body{
    padding: 0.5rem;
  }

  .card-title{
    font-size: 1.5rem;
  }
  .card-text{
    font-size: 1rem;
  }

  .servicios-btn{
    margin-left: 0.6rem;
  }

  .portfolio-titulo{    
    width: 90vw;
  }
  .portfolio-titulo h2{
    font-size: 2rem;
  }

  .portfolio-titulo p{
    font-size: 1.2rem;
  }

  .enlaces-portfolio{
    padding: 0;
  }
  .box-portafolio{
    width: 90vw;
  }
  .contacto{
    justify-content: flex-start;
    padding: 0;
    margin-top: 2rem 0 2rem 0;
  }
  .contacto aside{
    max-width: 90vw;
    padding-left: 1rem;
  }
  .contacto aside h3{
    font-size: 2rem;
    font-weight: 600;
  }
  .contacto aside p{
    font-size: 1.2rem;
  }

  .contacto form{
    width: 90vw;
    padding: 1.5rem;
  }
   .msj-box, .msj-box textarea {
    max-width: 80vw;
  }
  .contacto .inputs input{
    width: 35vw;
  }
  .footer{
    padding: 2rem;
  }
  .footer .marca img{
    margin-top: 2rem;
    width: 180px;
  }
  .tarjetas-servicios .card{
    max-width: 28rem;
  }
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
  */

